{% extends '@Admin/layout.html.twig' %}

{% block content %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button class="btn btn-success" type="submit">Добавить город</button>
    {{ form_end(form) }}
{% endblock content %}